extends /layout/_DefaultLayout

prepend ConfigBlock
  - page_name = ''

//- append StylesheetBlock

//- append JavascriptBlock

block ContentBlock
  video.js-video.full-video(playsinline muted loop autoplay)
    source(src="./video/sample.mp4")
    source(src="./video/sample.mov")

  ul.ui
    li.ui__item
      button.js-play-button play
    li.ui__item
      button.js-pause-button pause
